@model santisart_app.Models.EnrollEmpCouse

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EnrollEmpCouse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EnEmpCosTimestamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnEmpCosTimestamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employees.EmpTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employees.EmpTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnrollCouses.CouseTxtId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnrollCouses.CouseTxtId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnrollYearSemesters.EnrollYearSemesterId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnrollYearSemesters.EnrollYearSemesterId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EnrollEmpCouseId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
