@model IEnumerable<santisart_app.Models.EnrollEmpCouses>
@using System.Linq;
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
          ชื่อ
        </th>
        <th>
            รหัสวิชา
        <th>
            วิชา
        </th>
        <th>ชั้น</th>
        <th>ปีการศึกษา</th>
        
        <th>
            เทอม
        </th>
        <th></th>
        <th>
            เวลาบันทึก
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Employees.EmpTitle @item.Employees.EmpName @item.Employees.EmpLname
        </td>
        <td>
            @item.EnrollCouses.CouseTxtId
        </td>
        <td>
            @item.EnrollCouses.Course.CourseName
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnrollCouses.ClassesInSchool.ClassesShortName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnrollYearSemesters.YearEdu.yearName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnrollYearSemesters.Semester)
        </td>
        <td>

            @foreach (var items in item.EnrollEmpCouseClasses.Where(x => x.Status != 0))
            {
                <a href="@Url.Action("IndexByIdEmpcouseClass", "EnrollStudentCouses", new { id = items.EnrollEmpCouseClassId })">
                    <span class="badge badge-primary">@items.EnrollClass.ClassesInSchool.ClassesShortName/@items.EnrollClass.Classes_room</span>
                </a>
            }
        </td> 
        <td>
            @Html.DisplayFor(modelItem => item.EnEmpCosTimestamp)
        </td>
        <td>
            @Html.ActionLink("เพิ่มชั้นเรียน", "AddClassRoom", new { id = item.EnrollEmpCouseId }) |
            @Html.ActionLink("Edit", "Edit", new { id = item.EnrollEmpCouseId }) |
            @Html.ActionLink("Details", "Details", new { id = item.EnrollEmpCouseId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.EnrollEmpCouseId })
        </td>
    </tr>
}

</table>
