
@model santisart_app.Models.SurveyStudent

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>ข้อมูลนักเรียน @Model.students.Student_name  @Model.students.Student_lname<small>different form elements</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>
                    <div class="form-horizontal">
                        <h4>EnrollFamilyStudent</h4>
                        <hr />
                        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model)*@
                        @Html.HiddenFor(model => model.students.Student_id)
                        <div class="form-group">
                            @Html.LabelFor(model => model.students.Student_name, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.EditorFor(model => model.students.Student_name, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                @Html.ValidationMessageFor(model => model.students.Student_name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.students.Student_lname, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.EditorFor(model => model.students.Student_lname, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                @Html.ValidationMessageFor(model => model.students.Student_lname, "", new { @class = "text-danger" })
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>บิดาของ @Model.students.Student_name  @Model.students.Student_lname<small>different form elements</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>
                    <div class="form-horizontal">
                        <h4>EnrollFamilyStudent</h4>
                        <hr />
                        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model)*@

                        @Html.HiddenFor(model => model.enrollFamily[0].Family.FamilyId)
                        @Html.HiddenFor(model => model.enrollFamily[0].EnrollFamStudentId)

                        <div class="form-group">
                            @Html.LabelFor(model => model.enrollFamily[0].Family.Fam_Name, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.EditorFor(model => model.enrollFamily[0].Family.Fam_Name, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                @Html.ValidationMessageFor(model => model.enrollFamily[0].Family.Fam_Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.enrollFamily[0].Family.Fam_Lname, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.EditorFor(model => model.enrollFamily[0].Family.Fam_Lname, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                @Html.ValidationMessageFor(model => model.enrollFamily[0].Family.Fam_Lname, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.enrollFamily[0].Family.Career, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.EditorFor(model => model.enrollFamily[0].Family.Career, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                @Html.ValidationMessageFor(model => model.enrollFamily[0].Family.Career, "", new { @class = "text-danger" })
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>มารดาของ @Model.students.Student_name  @Model.students.Student_lname<small>different form elements</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>
                    <div class="form-horizontal">
                        <h4>EnrollFamilyStudent</h4>
                        <hr />
                        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model)*@
                        @Html.HiddenFor(model => model.enrollFamily[1].Family.FamilyId)
                        @Html.HiddenFor(model => model.enrollFamily[1].EnrollFamStudentId)
                        <div class="form-group">
                            @Html.LabelFor(model => model.enrollFamily[1].Family.Fam_Name, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.EditorFor(model => model.enrollFamily[1].Family.Fam_Name, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                @Html.ValidationMessageFor(model => model.enrollFamily[1].Family.Fam_Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.enrollFamily[1].Family.Fam_Lname, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.EditorFor(model => model.enrollFamily[1].Family.Fam_Lname, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                @Html.ValidationMessageFor(model => model.enrollFamily[1].Family.Fam_Lname, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.enrollFamily[1].Family.Career, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.EditorFor(model => model.enrollFamily[1].Family.Career, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                @Html.ValidationMessageFor(model => model.enrollFamily[1].Family.Career, "", new { @class = "text-danger" })
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>ผู้ปกครอง @Model.students.Student_name  @Model.students.Student_lname<small>different form elements</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>
                    <div class="form-horizontal">
                        <h4>EnrollFamilyStudent</h4>
                        <hr />
                        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model)*@
                        @Html.HiddenFor(model => model.enrollFamily[2].Family.FamilyId)
                        @Html.HiddenFor(model => model.enrollFamily[2].EnrollFamStudentId)
                        <div class="form-group">
                            @Html.LabelFor(model => model.enrollFamily[2].Family.Fam_Name, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.EditorFor(model => model.enrollFamily[2].Family.Fam_Name, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                @Html.ValidationMessageFor(model => model.enrollFamily[2].Family.Fam_Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.enrollFamily[2].Family.Fam_Lname, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.EditorFor(model => model.enrollFamily[2].Family.Fam_Lname, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                @Html.ValidationMessageFor(model => model.enrollFamily[2].Family.Fam_Lname, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.enrollFamily[2].Family.Career, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.EditorFor(model => model.enrollFamily[2].Family.Career, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                @Html.ValidationMessageFor(model => model.enrollFamily[2].Family.Career, "", new { @class = "text-danger" })
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>ที่อยู่ @Model.students.Student_name  @Model.students.Student_lname<small>different form elements</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>
                    <div class="form-horizontal">
                        <h4>EnrollFamilyStudent</h4>
                        <hr />
                        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model)*@
                        <div class="form-group">
                            @*@Html.LabelFor(model => model.address.sub_id, "subDis", htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <div class="col-md-10">
                                @*@Html.DropDownListFor(model => model.address.Sub_id, ViewBag.subDis as SelectList,
                                    "Select Category", new { @class = "form-control" })
                                                       @Html.DropDownList("subDis", null, htmlAttributes: new { @class = "form-control" })*@
                                @*@Html.DropDownList("adressid", null, htmlAttributes: new { @class = "form-control" })*@

                                @*@Html.ValidationMessageFor(model =>model.address.sub_id, "", new { @class = "text-danger" })*@
                            </div>
                        </div>

                        @Html.HiddenFor(model => model.address.student_id)
                        <div class="form-group">
                            @Html.LabelFor(model => model.address.nameVil, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.EditorFor(model => model.address.nameVil, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                @Html.ValidationMessageFor(model => model.address.nameVil, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.address.number, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.EditorFor(model => model.address.number, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })
                                @Html.ValidationMessageFor(model => model.address.number, "", new { @class = "text-danger" })
                            </div>
                        </div>
                       
                        <div class="form-group">
                            @Html.LabelFor(model => model.address.Subdistrict.District.Province.NameInThai, htmlAttributes: new { @class = "control-label  col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.DropDownList("Provices", null, htmlAttributes: new { @class = "form-control selectpicker col-md-7 col-xs-12", @data_live_search = "true" })
                                @*@Html.EditorFor(model => model.address.Subdistrict.District.Province.NameInThai, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })*@
                                @Html.ValidationMessageFor(model => model.address.Subdistrict.District.Province.NameInThai, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.address.Subdistrict.District.Province.NameInThai, htmlAttributes: new { @class = "control-label  col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.DropDownList("Districts", null,
                               htmlAttributes: new { @class = "form-control selectpicker col-md-7 col-xs-12", @data_live_search = "true" })

                                @*@Html.EditorFor(model => model.address.Subdistrict.District.Province.NameInThai,
                                    new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })*@
                                @Html.ValidationMessageFor(model => model.address.Subdistrict.District.Province.NameInThai, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.address.Subdistrict.District.Province.NameInThai, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.DropDownList("Sub_id", null, htmlAttributes: new { @class = "form-control selectpicker  col-md-7 col-xs-12", @data_live_search = "true" })

                                @*@Html.EditorFor(model => model.address.Subdistrict.District.Province.NameInThai, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12" } })*@
                                @Html.ValidationMessageFor(model => model.address.Subdistrict.District.Province.NameInThai, "", new { @class = "text-danger" })
                            </div>
                        </div>



                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-6 col-sm-6 col-xs-12">
                                <input type="submit" value="Save" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<form class="form-horizontal">
    <div class="form-group">
        <label for="type" class="col-sm-5 control-label">I'd like to ride</label>
        <div class="col-sm-5">
            <select name="type" id="type" class="form-control">
                <option>--Select your ride--</option>
                <option value="animals">Animal</option>
                <option value="vehicles">Vehicle</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="subtype" class="col-sm-5 control-label">More specifically</label>
        <div class="col-sm-5">
            <select name="subtype" id="subtype" class="form-control">
                <option>-- Select type first--</option>
            </select>
        </div>
    </div>
</form>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script>

var Select2Cascade = (function (window, $) {

        function Select2Cascade(parent, child, url, select2Options) {
            var afterActions = [];
            var options = select2Options || {};

            // Register functions to be called after cascading data loading done
            this.then = function (callback) {
                afterActions.push(callback);
                return this;
            };

            parent.select2(select2Options).on("change", function (e) {

                child.prop("disabled", true);

                var _this = this;
                $.getJSON(url.replace(':parentId:', $(this).val()), function (items) {
                    var newOptions = '<option value="">-- Select --</option>';

                    for (var id in items) {
                        newOptions += '<option value="' + id + '">' + items[id] + '</option>';
                    }

                    child.select2('destroy').html(newOptions).prop("disabled", false)
                        .select2(options);

                    afterActions.forEach(function (callback) {
                        callback(parent, child, items);
                    });
                });
            });
        }

        return Select2Cascade;

    })(window, $);

    $(document).ready(function () {
        var select2Options = { width: 'resolve' };
        // Loading raw JSON files of a secret gist - https://gist.github.com/ajaxray/32c5a57fafc3f6bc4c430153d66a55f5
        //var apiUrl = 'https://gist.githubusercontent.com/ajaxray/32c5a57fafc3f6bc4c430153d66a55f5/raw/260a653e6347fb6d2360e8ec376a2dc4888c1afa/:parentId:.json';
        var apiUrl = 'http://localhost:60336/SurveyStudents/SearchDistrics/?idProvince=:parentId:';
        var apiUrl2 = 'http://localhost:60336/SurveyStudents/SearchSubDist/?idSubdist=:parentId:';

        $('select').select2(select2Options);
        var cascadLoading = new Select2Cascade($('#Provices'), $('#Districts'), apiUrl, select2Options);
        var cascadLoading2 = new Select2Cascade($('#Districts'), $('#Sub_id'), apiUrl2, select2Options);
        cascadLoading.then(function (parent, child, items) {
            // Dump response data
            console.log(items);
        });
     cascadLoading2.then(function (parent, child, items) {
            // Dump response data
            console.log(items);
        });
    });


</script>
