@model IEnumerable<santisart_app.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>ค้นหาชื่อนักเรียน</h2>


<style>
    .autocomplete-suggestions {
        border: 1px solid #999;
        background: #FFF;
        overflow: auto;
    }

    .autocomplete-suggestion {
        padding: 2px 5px;
        white-space: nowrap;
        overflow: hidden;
    }

    .autocomplete-selected {
        background: #F0F0F0;
    }

    .autocomplete-suggestions strong {
        font-weight: normal;
        color: #3399FF;
    }

    .autocomplete-group {
        padding: 2px 5px;
    }

        .autocomplete-group strong {
            display: block;
            border-bottom: 1px solid #000;
        }
</style>
@*<form class="example">
        <div class="input-group mb-3">
            <input type="text" id="postTitle" name="postTitle" data-autocomplete="@Url.Action("Search","SurveyStudents")" placeholder="Search.." >

            <div class="input-group-addon">
                <button type="submit"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </form>*@
<div class="title_right">
    <div class="col-md-10 col-sm-5 col-xs-12 form-group pull-right top_search">
        @using (Html.BeginForm("IndexSearch", "SurveyStudents", FormMethod.Get))
        {
            <div class="title_left">
                <div class="col-md-6 col-sm-6 col-xs-12 form-group pull-left top_search">
                    <div class="input-group">
                        <input type="text" id="postTitle" name="postTitle" class="form-control" data-autocomplete="@Url.Action("Search", "SurveyStudents")" placeholder="Search..">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            @*<button class="btn btn-default" type="button">Go!</button>*@
                        </span>
                    </div>
                </div>
            </div>
        }
        <script>
            $(document).ready(function () {

                $("#postTitle").autocomplete({
                    source: '/SurveyStudents/Search',
                });

            });
        </script>

    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>รายชื่อนักเรียน <small></small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Settings 1</a>
                            </li>
                            <li>
                                <a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>
                @*#####################################################################*@
                <div class="row">
                    <div class="table-responsive">
                        <table id="datatable1" class="table table-striped jambo_table bulk_action hover display nowrap" role="grid" aria-describedby="datatable_info">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Student_title)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Student_name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Student_lname)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Studnet_Gender)
                                    </th>
                                    <th></th>
                                </tr>
                            <thead />
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Student_title)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Student_name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Student_lname)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Studnet_Gender)
                                        </td>
                                        <td>
                                            @Html.ActionLink("แก้ไขข้อมูล", "editSurvey", new { id = item.Student_id }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.Student_id }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.Student_id })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#datatable1').DataTable();
    });
</script>
