@model IEnumerable<santisart_app.Models.EnrollFinishStudent>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeStam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Staff)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinishCouse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DayRequstFinish)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DayFinished)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DayToFinished)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reader)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Physical)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CouseBasic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CouseAdd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reader2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activity2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.physical2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExcelForm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinishType.FormName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.Student_title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeStam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Staff)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinishCouse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DayRequstFinish)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DayFinished)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DayToFinished)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reader)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Physical)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CouseBasic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CouseAdd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reader2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activity2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.physical2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExcelForm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinishType.FormName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.Student_title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FinishId }) |
            @Html.ActionLink("Details", "Details", new { id=item.FinishId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FinishId })
        </td>
    </tr>
}

</table>
